{% extends 'base.html' %}

{% block content %}
<section class="card card-body">

  <div class="d-flex justify-content-between">
    <h1>Listado de Usuarios</h1>
    <a class="btn btn-outline-success heightBtn" href="{% url 'registrar' %}" style="height: 38px">
      {% include "icon/plus.html" %}
      Crear nuevo
    </a>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Apellido y Nombre</th>
      <th scope="col">DNI</th>
      <th scope="col">Tipo de Usuario</th>
    </tr>
  </thead>
  <tbody>
    {% if usuarios %}
      {% for usuario in usuarios %}

      <tr>
        <td>{{usuario.apellido}}, {{usuario.nombre}}</td>
        <td scope="row">{{usuario.dni}}</td>
        <td>{{usuario.get_tipo_usuario_display}}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th scope="row" colspan="5" class="text-center">No se encontraron registros</th>
      </tr>
    {% endif %}
  </tbody>
</table>
</section>
{% endblock %}