{% extends 'base.html' %}

{% block content %}
<section class="card card-body">
  <div class="titleBtn mb-3">
    <h1>Listado de Proyectos</h1>
      <a class="btn btn-outline-success heightBtn" href="{% url 'proyecto:nuevo' %}">
        {% include "icon/plus.html" %}
        Crear nuevo
      </a>
  </div>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
  {% endfor %}


  {% endif %}
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Fecha</th>
      <th scope="col">Estado</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    {% if movimientos %}
      {% for movimiento in movimientos %}
      <tr>
        <th scope="row">{{movimiento.proyecto.id}}</th>
        <td>{{movimiento.proyecto.titulo}}</td>
        <td>{{movimiento.proyecto.presentacion|date:"d-m-Y"}}</td>
        <td>{{movimiento.get_etapa_display}} - {{movimiento.get_estado_display}}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'proyecto:ver' movimiento.proyecto.id %}">Abrir</a>
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th scope="row" colspan="5" class="text-center">No se encontraron registros</th>
      </tr>
    {% endif %}
  </tbody>
</table>
</section>
{% endblock %}