{% extends 'base.html' %}

{% block content %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#estudiante-busqueda').submit(function(event) {
        event.preventDefault();
        var query = $('#est_busqueda').val();
        var proy = $('#proyecto').val();
        $.ajax({
          type: 'GET',
          url: '{% url "buscarEstudiante" %}',
          data: {
            'q': query,
            'proyecto': proy,
          },
          success: function(data) {
            $('#estudiante_resultados').html(data);
          }
        });
      });
    });


    $(document).ready(function() {
      $('#docente-busqueda').submit(function(event) {
        event.preventDefault();
        var query = $('#doc_busqueda').val();
        var proy = $('#proyectoD').val();
        $.ajax({
          type: 'GET',
          url: '{% url "buscarDocente" %}',
          data: {
            'q': query,
            'proyectoDocente': proy,
          },
          success: function(data) {
            $('#docente_resultados').html(data);
          }
        });
      });
    });

    $(document).ready(function() {
      $('#tribunal-busqueda').submit(function(event) {
        event.preventDefault();
        var query = $('#trib_busqueda').val();
        var proy = $('#proyecto').val();
        $.ajax({
          type: 'GET',
          url: '{% url "tribunal:buscar" %}',
          data: {
            'q': query,
            'proyecto': proy,
          },
          success: function(data) {
            $('#tribunal_resultados').html(data);
          }
        });
      });
    });
  </script>


<section class="card card-body">
  <div class="d-flex justify-content-between">
    <h1>Detalle de Proyecto</h1>
      <a class="btn btn-outline-danger" href="{% url 'proyecto:lista' %}" style="height: 38px;">
        {% include "icon/back.html" %}
        Volver
      </a>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
  {% endif %}

  <div class="mb-3">
    Titulo: <strong>{{proyecto.titulo}}</strong>
  </div>
  <div class="mb-3">
    Descripción: <strong>{{proyecto.descripcion}}</strong>
  </div>
  <div class="mb-3">
    Fecha de presentación: <strong>{{proyecto.presentacion|date:"d-m-Y"}}</strong>
  </div>
  <div class="mb-3">
    Archivos:
    {% if proyecto.archivos %}
      <a href="{% url 'proyecto:archivo_proy' proyecto.id %}">Ver Archivo</a>
    {% else %}
      <strong>No hay archivo adjunto.</strong>
    {% endif %}
  </div>
  {% if proyecto.borrador %}
  <div class="mb-3">
    Borrador:
    <a href="{% url 'proyecto:borrador_proy' proyecto.id %}">Ver Archivo</a>
  </div>
  {% endif %}
  {% if proyecto.defensa_fecha %}
  <div class="mb-3">
    Defensa:
    <strong>{{proyecto.defensa_fecha|date:"d-m-Y"}}</strong> / Nota: <strong>{{proyecto.defensa_nota}}</strong>
  </div>
  {% endif %}
  <div class="mb-3">
    Etapa Actual: <strong>{{ actual.get_etapa_display }}</strong>
  </div>
  <div class="mb-3">
    Estado Actual:
    <span class="badge text-bg-{{ actual.color }}">{{ actual.get_estado_display }}</span>
  </div>
  <hr/>

  <button class="btn btn-outline-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Información de los estudiantes
  </button>
  <div class="collapse" id="collapseExample">

  <div class="d-flex justify-content-between">
    <span>Estudiantes:</span>
    <button type="button" class="btn btn-outline-success heightBtn" data-bs-toggle="modal" data-bs-target="#estudianteModal">
      {% include "icon/plus.html" %}
      Agregar
    </button>
  </div>
  <!-- Modal Estudiantes -->
  <div class="modal fade" id="estudianteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Listado de estudiantes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="estudiante-busqueda" class="mb-3">
            <div class="row">
              <div class="col-8">
                <input type="text" id="est_busqueda" name="q" placeholder="Buscar por Matrícula" class="form-control">
                <input type="hidden" id="proyecto" name="proyecto" value="{{ proyecto.id }}" disabled>
              </div>
              <div class="col-4">
                <input type="submit" value="Buscar" class="btn btn-outline-primary">
              </div>
            </div>
          </form>

          <div id="estudiante_resultados">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Apellido y Nombre</th>
      <th scope="col">DNI</th>
      <th scope="col">Matricula</th>
      <th scope="col">Fecha de Alta</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% if proy_estu %}
      {% for estudiante in proy_estu %}
      <tr>
      <td>{{ estudiante.estudiante.user.apellido }}, {{ estudiante.estudiante.user.nombre }}</td>
      <td>{{ estudiante.estudiante.user.dni }}</td>
      <td>{{ estudiante.estudiante.matricula }}</td>
      <td>{{ estudiante.fecha_alta|date:"d-m-Y H:i:s" }}</td>
      {% if estudiante.activo %}
        <td>
          <span class="badge text-bg-success">Activo</span>
        </td>
        <td>
          <form method="POST" action="{% url 'proyecto:delEstudiante' %}">
            {% csrf_token %}
            <input type="hidden" name="proyecto" value="{{estudiante.proyecto.id}}">
            <input type="hidden" name="estudiante" value="{{estudiante.estudiante.id}}">

            <button type="submit" class="btn btn-outline-danger btn-sm">
              {% include "icon/cancel.html" %}
              Quitar
            </button>
          </form>
        </td>
      {% else %}
        <td colspan="2">
          <span class="badge text-bg-danger">Baja: {{estudiante.fecha_baja|date:"d-m-Y H:i:s"}}</span>
        </td>
      {% endif %}

      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th scope="row" colspan="6" class="text-center">No se encontraron registros</th>
      </tr>
    {% endif %}
  </tbody>
  </table>
  </div>
</div>

  <button class="btn btn-outline-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDocentes" aria-expanded="false" aria-controls="collapseExample">
    Información de los docentes
  </button>
  <div class="collapse" id="collapseDocentes">
  <div class="d-flex justify-content-between">
    <span>Docentes:</span>
    <button type="button" class="btn btn-outline-success heightBtn" data-bs-toggle="modal" data-bs-target="#docenteModal">
      {% include "icon/plus.html" %}
      Agregar
    </button>
  </div>
  <!-- Modal Docentes -->
  <div class="modal fade" id="docenteModal" tabindex="-1" aria-labelledby="docenteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="docenteModalLabel">Listado de docentes</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="docente-busqueda" class="mb-3">
            <div class="row">
              <div class="col-8">
                <input type="text" id="doc_busqueda" name="q" placeholder="Buscar Docente" class="form-control">
                <input type="hidden" id="proyectoD" name="proyectoD" value="{{ proyecto.id }}">
              </div>
              <div class="col-4">
                <input type="submit" value="Buscar" class="btn btn-outline-primary">
              </div>
            </div>
          </form>

          <div id="docente_resultados">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Apellido y Nombre</th>
      <th scope="col">CUIL</th>
      <th scope="col">Cargo</th>
      <th scope="col">Fecha de Alta</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% if proy_docen %}
      {% for docente in proy_docen %}
      <tr>
      <td>{{ docente.docente.user.apellido }}, {{ docente.docente.user.nombre }}</td>
      <td>{{ docente.docente.cuil }}</td>
      <td>{{ docente.get_cargo_display }}</td>
      <td>{{ docente.fecha_alta|date:"d-m-Y H:i:s" }}</td>
      {% if docente.activo %}
        <td>
          <span class="badge text-bg-success">Activo</span>
        </td>
        <td>
          <form method="POST" action="{% url 'proyecto:delDocente' %}">
            {% csrf_token %}
            <input type="hidden" name="proyecto" value="{{docente.proyecto.id}}">
            <input type="hidden" name="docente" value="{{docente.docente.id}}">

            <button type="submit" class="btn btn-outline-danger btn-sm">
              {% include "icon/cancel.html" %}
              Quitar
            </button>
          </form>
        </td>
      {% else %}
        <td colspan="2">
          <span class="badge text-bg-danger">Baja: {{docente.fecha_baja|date:"d-m-Y H:i:s"}}</span>
        </td>
      {% endif %}
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th scope="row" colspan="6" class="text-center">No se encontraron registros</th>
      </tr>
    {% endif %}
  </tbody>
  </table>
  </div>
</div>

  <button class="btn btn-outline-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTribunal" aria-expanded="false" aria-controls="collapseExample">
    Información del tribunal
  </button>
  <div class="collapse" id="collapseTribunal">
  <div class="d-flex justify-content-between">
    <span>Tribunal designado al proyecto:</span>

    {% if vista == 'comision' and not proyecto.tribunal %}
    <button type="button" class="btn btn-outline-success heightBtn" data-bs-toggle="modal" data-bs-target="#tribunalModal">
      {% include "icon/plus.html" %}
      Asignar
    </button>
    {% endif %}
  </div>
  <!-- Modal Tribunal -->
  <div class="modal fade" id="tribunalModal" tabindex="-1" aria-labelledby="tribunalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tribunalModalLabel">Listado de Tribunales</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="tribunal-busqueda" class="mb-3">
            <div class="row">
              <div class="col-8">
                <input type="text" id="trib_busqueda" name="q" placeholder="Buscar Tribunal" class="form-control">
                <input type="hidden" id="proyectoT" name="proyectoT" value="{{ proyecto.id }}">
              </div>
              <div class="col-4">
                <input type="submit" value="Buscar" class="btn btn-outline-primary">
              </div>
            </div>
          </form>

          <div id="tribunal_resultados">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Disposición Número</th>
      <th scope="col">Fecha</th>
      <th scope="col">Presidente</th>
    </tr>
  </thead>
  <tbody>
    {% if proyecto.tribunal %}
      <tr>
        <td>{{ proyecto.tribunal.id }}</td>
        <td>{{ proyecto.tribunal.disposicion_numero }}</td>
        <td>{{ proyecto.tribunal.disposicion_fecha|date:"d-m-Y" }}</td>
        <td>{{ proyecto.tribunal.presidente }}</td>
      </tr>
    {% else %}
      <tr>
        <th scope="row" colspan="4" class="text-center">No se encontraron registros</th>
      </tr>
    {% endif %}
  </tbody>
  </table>
  </div>
</div>

  <button class="btn btn-outline-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMovimientos" aria-expanded="false" aria-controls="collapseExample">
    Información de los movimientos
  </button>
  <div class="collapse" id="collapseMovimientos">
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Etapa</th>
      <th scope="col">Estado</th>
      <th scope="col">Fecha y Hora</th>
      <th scope="col">Archivo</th>
      <th scope="col">Observación</th>
    </tr>
  </thead>
  <tbody>
    {% if movimientos %}
      {% for movimiento in movimientos %}
      <tr>
      <td>{{ movimiento.get_etapa_display }}</td>

      {% if movimiento.estado == 'rechazado' %}
        <td><span class="badge text-bg-danger">{{ movimiento.get_estado_display }}</span></td>
      {% elif movimiento.estado == 'observado' %}
        <td><span class="badge text-bg-warning">{{ movimiento.get_estado_display }}</span></td>
      {% elif movimiento.estado == 'aceptado' %}
        <td><span class="badge text-bg-success">{{ movimiento.get_estado_display }}</span></td>
      {% else %}
        <td><span class="badge text-bg-primary">{{ movimiento.get_estado_display }}</span></td>
      {% endif %}
      <td>{{ movimiento.fecha_hora|date:"d-m-Y H:i:s" }}</td>
      <td>
        {% if movimiento.informe_archivo %}
        <a href="{% url 'movimiento:archivo_mov' movimiento.id %}" target="_blank">
          {% include "icon/search.html" %}
        </a>
        {% endif %}
      </td>
      <td>{{ movimiento.observacion }}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <th scope="row" colspan="4" class="text-center">No se encontraron registros</th>
      </tr>
    {% endif %}
  </tbody>
  </table>
</div>
  {% if vista == 'comision' %}
  <hr/>
  <form method="POST" action="{% url 'movimiento:cambio_estado' proyecto.id %}" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row text-center">
    <div class="col-12 mb-3">
      <input type="hidden" value="{{actual.etapa}}" name="mov-etapa" class="form-control" required="" id="id_mov-etapa">
    </div>
    <div class="row">
      <div class="col-3 mb-3">
        <label for="{{ form.estado.id_for_label }}">Estado:</label>
        <select name="mov-estado" class="form-control" required="" id="id_mov-estado">
          <option value="aceptado">Aceptado</option>
          <option value="rechazado">Rechazado</option>
          <option value="observado">Observado</option>
        </select>
        {{form.estado.error}}
      </div>
      <div class="col-9 mb-3">
        <label for="{{ form.observacion.id_for_label }}">Observación:</label>
        {{form.observacion}}
        {{form.observacion.error}}
      </div>
    </div>
    <div class="row">
      <div class="col-3 mb-3">
        <label for="{{ form.informe_fecha.id_for_label }}">Fecha:</label>
        {{form.informe_fecha}}
        {{form.informe_fecha.error}}
      </div>
      <div class="col-6 mb-3">
        <label for="{{ form.infomre_archivo.id_for_label }}">Informe (.pdf)</label>
        {{form.informe_archivo}}
        {{form.informe_archivo.error}}
      </div>
      <div class="col-3">
        <button class="btn btn-outline-success mb-3" type="submit">
          Guardar
        </button>
      </div>
    </div>
  </div>
  </form>
  {% endif %}

  {% if vista == 'tribunal' %}
  <hr/>
  <form method="POST" action="{% url 'movimiento:cambio_estado' proyecto.id %}" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row text-center">
    <div class="col-12 mb-3">
      <input type="hidden" value="{{actual.etapa}}" name="mov-etapa" class="form-control" required="" id="id_mov-etapa">
    </div>
    <div class="row">
      <div class="col-3 mb-3">
        <label for="{{ form.estado.id_for_label }}">Estado:</label>
        <select name="mov-estado" class="form-control" required="" id="id_mov-estado">
          <option value="aceptado">Aceptado</option>
          <option value="rechazado">Rechazado</option>
          <option value="observado">Observado</option>
        </select>
        {{form.estado.error}}
      </div>
      <div class="col-9 mb-3">
        <label for="{{ form.observacion.id_for_label }}">Observación:</label>
        {{form.observacion}}
        {{form.observacion.error}}
      </div>
    </div>
    <div class="row">
      <div class="col-3 mb-3">
        <label for="{{ form.informe_fecha.id_for_label }}">Fecha:</label>
        {{form.informe_fecha}}
        {{form.informe_fecha.error}}
      </div>
      <div class="col-6 mb-3">
        <label for="{{ form.infomre_archivo.id_for_label }}">Informe (.pdf)</label>
        {{form.informe_archivo}}
        {{form.informe_archivo.error}}
      </div>
      <div class="col-3">
        <button class="btn btn-outline-success mb-3" type="submit">
          Guardar
        </button>
      </div>
    </div>
  </div>
  </form>
  {% endif %}

  {% if vista == 'borrador' %}
  <hr/>
  <form method="POST" action="{% url 'movimiento:cambio_estado' proyecto.id %}" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row text-center">
    <div class="col-12 mb-3">
      <input type="hidden" value="{{actual.etapa}}" name="mov-etapa" class="form-control" required="" id="id_mov-etapa">
    </div>
    <div class="row">
      <div class="col-3 mb-3">
        <label for="{{ form.estado.id_for_label }}">Estado:</label>
        <select name="mov-estado" class="form-control" required="" id="id_mov-estado">
          <option value="aceptado">Aceptado</option>
          <option value="rechazado">Rechazado</option>
          <option value="observado">Observado</option>
        </select>
        {{form.estado.error}}
      </div>
      <div class="col-9 mb-3">
        <label for="{{ form.observacion.id_for_label }}">Observación:</label>
        {{form.observacion}}
        {{form.observacion.error}}
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-3">
        <label for="{{ form.infomre_archivo.id_for_label }}">Informe (.pdf)</label>
        {{form.informe_archivo}}
        {{form.informe_archivo.error}}
      </div>
      <div class="col-6 mb-3">
        <label for="{{ form.borrador.id_for_label }}">Borrador (.pdf)</label>
        <input type="file" name="mov-borrador" class="form-control" id="id_mov-borrador">
      </div>
      <div class="col-3 mb-3">
        <label for="{{ form.informe_fecha.id_for_label }}">Fecha:</label>
        {{form.informe_fecha}}
        {{form.informe_fecha.error}}
      </div>
      <div class="col-3">
        <button class="btn btn-outline-success mb-3" type="submit">
          Guardar
        </button>
      </div>
    </div>
  </div>
  </form>
  {% endif %}

  {% if vista == 'defensa' %}
  <hr/>
  <form method="POST" action="{% url 'movimiento:cambio_estado' proyecto.id %}" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row text-center">
    <div class="col-12 mb-3">
      <input type="hidden" value="{{actual.etapa}}" name="mov-etapa" class="form-control" required="" id="id_mov-etapa">
    </div>
    <div class="row">
      <div class="col-3 mb-3">
        <label for="{{ form.estado.id_for_label }}">Estado:</label>
        <select name="mov-estado" class="form-control" required="" id="id_mov-estado">
          <option value="aceptado">Aceptado</option>
          <option value="rechazado">Rechazado</option>
          <option value="observado">Observado</option>
        </select>
        {{form.estado.error}}
      </div>
      <div class="col-9 mb-3">
        <label for="{{ form.observacion.id_for_label }}">Observación:</label>
        {{form.observacion}}
        {{form.observacion.error}}
      </div>
    </div>
    <div class="row">
      <div class="col-3 mb-3">
        <label for="{{ form.informe_fecha.id_for_label }}">Fecha:</label>
        {{form.informe_fecha}}
        {{form.informe_fecha.error}}
      </div>
      <div class="col-6 mb-3">
        <label for="{{ form.infomre_archivo.id_for_label }}">Nota:</label>
        <input type="number" name="nota" id="nota" class="form-control" placeholder="Ingresar nota" max="10" min="1" >
      </div>
      <div class="col-3">
        <button class="btn btn-outline-success mb-3" type="submit">
          Guardar
        </button>
      </div>
    </div>
  </div>
  </form>
  {% endif %}

</section>
{% endblock %}